@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Playfair+Display:900&display=swap');

$spacer: 16;

:root {
    // Color
    --color-black: rgb(0, 0, 0);
    --color-white: #f8fafc;
    --color-primary: #0074e1;

    --color-dark-gray: #1F1F1F;
    --color-gray: #454f5b;
    --color-gray-solid: #272727;
    --color-light-gray: #717171;

    --color-green: #5CE990;
    --color-red: #FF623A;
    --color-gold: #F1B51A;
    --color-purple: #5865f2;
    --color-pink: rgba(255, 0, 76, 0.66);
    --color-dark-green: #0e123a;

    --color-hover-warning: #d1ac26;
    --color-hover-error: #e05633;
    --color-hover-success: #4a5550;

    --color-text-primary: var(--color-gray);
    --color-background: var(--color-white);

    // Text
    --base-font-size: #{$spacer}px;
    // --font-family: 'Poppins', sans-serif;
    // --font-regular: 300;
    // --font-medium: 400;
    // --font-bold: 500;

    // Border
    --border-gray: solid 1.5px var(--color-light-gray);
    --border-transparent: solid 1.5px transparent;
    --border-radius: 0.4rem;
    --border-radius-less: 0.2rem;

    // Sizes
    --icon-large: 3rem;
    --icon-medium: 1.5rem;
    --icon-normal: 1rem;
    --app-max-width: 65rem;
    --container-max-width: 60rem;

    // Grid
    --grid-gap: 1rem;

    // Shadow
    --box-shadow: -0.15rem -0.15rem 0.75rem 0.05rem rgb(0, 0, 0);
}

h1,
h2,
a {
    font-family: "Playfair Display", serif !important;
    font-weight: 900 !important;
    letter-spacing: .01em !important;
    color: var(--color-text-primary)
}

h3,
h4,
h5,
p {
    font-family: "Lora", serif;
    font-weight: 400 ;
    color: var(--color-text-primary)
  }

h2 {
    font-size: 2.5rem ;

    @media only screen and (min-width: 576px) {
      font-size: 3rem ;
    }
}

h3 {
    font-weight: 700 ;
    font-size: 2.3rem ;

    @media only screen and (min-width: 576px) {
        font-size: 2.8rem ;
    }
}

h4 {
    font-size: 2rem ;

    @media only screen and (min-width: 576px) {
        font-size: 2.2rem ;
    }
}

h5 {
    font-size: 1.7rem;
}

p {
    font-size: 1.1rem ;

    @media only screen and (min-width: 576px) {
        font-size: 1.3rem ;
    }
}

html, body {
    background-color: var(--color-background) !important;
    scroll-behavior: smooth;
    position: relative;
}

.container {
    max-width: var(--container-max-width);
}

@import "icons";
@import "buttons";
@import "animations";