@import './base/';
@import './bootstrap/bootstrap.scss';

// Used in utility builders and also sets base font size.
$spacer: 16;

:root {
    // Color
    --color-black: rgb(0, 0, 0);
    --color-white: rgb(255, 255, 255);
    --color-primary: #0074e1;

    --color-dark-gray: #1F1F1F;
    --color-gray: #1b1b1b;
    --color-gray-solid: #272727;
    --color-light-gray: #717171;

    --color-green: #5CE990;
    --color-red: #FF623A;
    --color-pink: #9C22D6;
    --color-gold: #F1B51A;
    --color-purple: #5865f2;
    --color-dark-green: #0e123a;

    --color-hover-warning: #d1ac26;
    --color-hover-error: #e05633;
    --color-hover-success: #4a5550;

    --color-text-primary: var(--color-light-gray);
    --color-background: var(--color-black);

    // Text
    --base-font-size: #{$spacer}px;
    // --font-family: 'Poppins', sans-serif;
    // --font-regular: 300;
    // --font-medium: 400;
    // --font-bold: 500;

    // Border
    --border-gray: solid 1.5px var(--color-light-gray);
    --border-transparent: solid 1.5px transparent;
    --border-radius: 0.4rem;
    --border-radius-less: 0.2rem;

    // Sizes
    --icon-large: 3rem;
    --icon-medium: 1.5rem;
    --icon-normal: 1rem;
    --app-max-width: 65rem;

    // Grid
    --grid-gap: 1rem;

    // Shadow
    --box-shadow: -0.15rem -0.15rem 0.75rem 0.05rem rgb(0, 0, 0);
}

// Size controlled by icon.svelte
.icon {
    width: auto;
    height: var(--icon-normal);

    &[data-size="medium"] {
        height: var(--icon-medium);
    }

    &[data-size="large"] {
        height: var(--icon-large);
    }

    use[data-color="light"]  {
        fill: var(--color-light-gray)
    }

    use[data-color="white"]  {
        fill: var(--color-white)
    }

    use[data-color="dark"] {
        fill: var(--color-black);
    }

    use[data-color="primary"] {
        fill: var(--color-primary);
    }

    use[data-color="danger"] {
        fill: var(--color-red);
    }
}

.icon-cache {
    display: none;
}